/* css/styles.css */
:root {
 --primary-color: #2c3e50;
 --secondary-color: #3498db;
 --font-primary: 'Roboto', sans-serif;
 --transition-base: all 0.3s ease;
}
body {
 font-family: var(--font-primary);
}


/* css header */
.nav-container {
 display: flex;
 justify-content: space-between;
 transition: var(--transition-base);
}
.logo img{
    height:50px;
}
.principal ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.principal ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: black;
}
.principal ul li a:hover {
    background-color: black;
    color: white;
}

.hero-grid {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 2rem;
}

.products-example {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
/* Contenedor de la tarjeta flip - ajusta el ancho y alto como desees. Se ha añadido la propiedad border para demostrar que el flip sale del cuadro al hacer hover (elimina perspective si no quieres el efecto 3D) */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Elimina esto si no quieres el efecto 3D */
}

/* Este contenedor es necesario para posicionar el lado frontal y trasero */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Realiza un giro horizontal cuando pasas el mouse sobre el contenedor de la tarjeta */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Posiciona el lado frontal y trasero */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Estilo del lado frontal (por si falta la imagen) */
.flip-card-front {
    background-color: #170e0e;
    color: black;
}

.flip-card-front img {
        height: inherit;
}

/* Estilo del reverso de la tarjeta */
.flip-card-back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
}
